@import "./scss/mixins/variables";
@import "./scss/mixins/media-queries";
@import "./scss/home";
@import "./scss/button";
@import "./scss/footer";
@import "./scss/product-page";
@import "./scss/shop-page";
@import "./scss/dropdown";
@import "./scss/burger-menu";
@import "./scss/navigation";
@import "./scss/breadcrumbs";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: $brand-color;
}

.section-title {
  font-family: Lora;
  font-size: 32px;
  color: #333333;
  text-transform: uppercase;
  font-weight: normal;

  &--vertical {
    transform: rotate(90deg);
  }
}

.product-heading {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.22;
  letter-spacing: 0.18px;
  color: #333333;
}

.footer__title {
  font-family: "Lora", serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: 0.14px;

  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 16px;
}

@include desktop-small {
  .section-title {
    font-size: 26px;

    &--vertical {
      transform: rotate(90deg);
    }
  }

  .product-heading {
    font-size: 20px;
  }
}

@include desktop-medium {
  .section-title {
    font-size: 32px;

    &--vertical {
      transform: rotate(90deg);
    }
  }

  .product-heading {
    font-size: 18px;
  }
}

@include desktop-large {
  .section-title {
    font-family: Lora;
    font-size: 40px;
  }

  .product-heading {
    font-size: 20px;
  }
}
