.breadcrumbs {
    width: 300px;
    margin: 0 auto 16px auto;

    display: flex;

    &--product-page {
        margin-bottom: 32px;

        display: none;
    }

    &__divider {
        color: #33333365;
    }

    &__breadcrumb {
        font-family: "Lato";
        font-size: 14px;
        font-weight: 300;

        line-height: 1.21;
        letter-spacing: 0.28px;

        text-decoration: none;

        color: #33333365;

        transition: all 0.3s;

        &:last-child {
            margin-left: 1px;
        }

        &:hover {
            color: #333333;
        }

        &--product-page {
            margin: 0;
        }
    }
}

@include mobile-large {
    .breadcrumbs {
        width: 390px;

        &--product-page {
            width: 305px;
            margin: 0;
        }
    }
}

@include tablet-small {
    .breadcrumbs {
        width: 580px;
        margin: 0 auto 32px auto;

        &--product-page {
            width: 305px;
            margin: 0;
        }
    }
}

@include tablet-large {
    .breadcrumbs {
        width: 720px;

        &--product-page {
            width: 330px;
            margin: 0 0 24px 0;

            display: block;
        }
    }

    @include desktop-small {
        .breadcrumbs {
            width: 900px;

            &--product-page {
                width: 330px;
                margin: 0 0 24px 0;
            }
        }
    }

    @include desktop-medium {
        .breadcrumbs {
            width: 1126px;
            margin: 0 auto 32px auto;

            &--product-page {
                width: 330px;
                margin: 0 0 24px 0;
            }
        }
    }

    @include desktop-large {
        .breadcrumbs {
            width: 1300px;

            &__breadcrumb {
                font-size: 16px;
            }

            &--product-page {
                width: 350px;
                margin: 0 0 24px 0;
            }
        }
    }

    @include desktop-extra-large {
        .breadcrumbs {
            width: 1500px;

            &__breadcrumb {
                font-size: 18px;
            }

            &--product-page {
                width: 430px;
                margin: 0 0 24px 0;
            }
        }
    }
}
