.button {
    position: relative;
    width: 175px;
    height: 55px;
    background-color: #ffffff00;
    border: solid 1.5px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Lora", serif;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;

    overflow: hidden;

    span {
        transition: color 0.3s;
    }

    &::after {
        content: "";
        width: 240px;
        height: 0;
        display: block;
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -1;

        transform: translate(-50%, -50%) rotate(45deg);
        transition: all 0.3s;
        background-color: white;
    }

    &:hover {
        span {
            color: #333333;
        }

        &::after {
            height: 135px;
            opacity: 1;
        }
    }
}

.button--black {
    background-color: #ffffff00;
    border: solid 1.5px #333333;
    color: #333333;
    margin: 65px auto 0 auto;

    &::after {
        background-color: #333333;
    }

    &:hover {
        span {
            color: #ffffff;
        }
    }
}

.button-blurred {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 179px auto 0 auto;

    width: 161px;
    height: 45px;

    backdrop-filter: blur(4px);
    background-color: rgba(54, 54, 54, 0.2);

    font-family: "Lato", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.1s;

    color: #ffffff;

    &:hover {
        transform: scale(1.05);
        background-color: rgba(54, 54, 54, 0.3);
    }

    &--blog {
        width: 206px;
        height: 50px;
        text-align: center;
        font-size: 14px;

        margin: 219px auto 0 auto;
    }
}

@include tablet-large {
    .button {
        width: 155px;
        height: 45px;
        font-size: 14px;
    }

    .button-blurred {
        width: 156px;
        height: 40px;
        margin: 116px auto 0 auto;

        font-size: 13px;

        &--blog {
            width: 180px;
            margin-top: 176px;
        }
    }
}

@include desktop-small {
    .button-blurred {
        width: 161px;
        height: 45px;
        margin: 146px auto 0 auto;

        &--blog {
            width: 180px;
            margin-top: 176px;
        }
    }
}

@include desktop-medium {
    .button-blurred {
        margin: 179px auto 0 auto;

        &--blog {
            width: 206px;
            margin-top: 235px;
        }
    }
}

@include desktop-large {
    .button-blurred {
        width: 200px;
        height: 65px;
        font-size: 18px;

        &--blog {
            width: 216px;
            height: 60px;
            font-size: 18px;

            margin-top: 272px;
        }
    }
}

@include desktop-extra-large {
    .button {
        width: 186px;
        height: 64px;
        font-size: 18px;
    }
    .button-blurred {
        width: 220px;
        height: 75px;
        font-size: 18px;
    }
}
