.card {
    text-decoration: none;

    &__image-container {
        overflow: hidden;

        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    &__image {
        width: 300px;
        height: 371px;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-image: url(images/product-1.svg);

        transition: transform 0.3s;

        &--add-product {
            background-image: url(images/add-product-1.svg);
        }
    }

    &__info {
        width: 300px;
        height: auto;
        padding: 24px 16px 24px 16px;

        background-color: #ffffff;
    }

    &__category {
        font-family: "Lato", sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0.14px;

        color: #33333380;
    }

    &__heading {
        margin: 6px 0 12px 0;

        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.22;
        letter-spacing: 0.18px;
        color: #333333;
    }

    &__description {
        width: 270px;
        margin-bottom: 14px;

        font-family: "Lato", sans-serif;
        font-weight: 300;
        line-height: 1.19;
        letter-spacing: 0.16px;
        color: #33333390;
    }

    &__price {
        width: 71px;
        height: 32px;
        margin-left: 220px;

        background-color: #333333;

        display: flex;
        align-items: center;
        justify-content: center;

        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-weight: 300;

        color: #ffffff;
    }

    &:hover {
        .card__image {
            transform: scale(1.05) translateY(-5px);
        }
    }

    &:nth-child(2) {
        .card__image {
            background-image: url(images/product-2.svg);

            &--add-product {
                background-image: url(images/add-product-2.svg);
            }
        }
    }

    &:nth-child(3) {
        .card__image {
            background-image: url(images/product-3.svg);
        }
    }

    &:last-child {
        margin-right: 0;
        .card__image {
            background-image: url(images/product-4.svg);

            &--add-product {
                background-image: url(images/add-product-3.svg);
            }
        }
    }

    &--shop-page {
        margin-bottom: 24px;
    }
}

@include mobile-large {
    .card {
        &__image {
            width: 390px;
        }

        &__info {
            width: 390px;
        }

        &__description {
            width: 368px;
            margin-bottom: 10px;
        }

        &__price {
            margin-left: 309px;
        }

        &--shop-page {
            margin-right: 0;
            margin-bottom: 24px;
        }
    }
}

@include tablet-small {
    .card {
        margin-right: 0;

        &__image {
            width: 275px;
            height: 315px;
        }

        &__info {
            width: 275px;
        }

        &__description {
            width: 245px;
            margin-bottom: 14px;
        }

        &__price {
            margin-left: 194px;
        }

        &--shop-page {
            margin-right: 0;
            margin-bottom: 24px;

            .card {
                &__image {
                    width: 361px;
                    height: 300px;
                }

                &__info {
                    width: 361px;
                }

                &__description {
                    width: 300px;
                    margin-bottom: 10px;

                    font-size: 16px;
                }

                &__price {
                    margin-left: 280px;
                }
            }
        }
    }
}

@include tablet-large {
    .card {
        margin-right: 0;

        &__image {
            width: 270px;
            height: 315px;
        }

        &__heading {
            font-size: 15px;
        }

        &__info {
            width: 229px;
            padding: 16px 12px 16px 12px;
        }

        &__description {
            width: 209px;
            margin-bottom: 14px;

            font-size: 14px;
        }

        &__price {
            width: 64px;
            height: 32px;
            margin-left: 159px;

            font-size: 14px;
        }

        &--shop-page {
            margin-right: 16px;

            .card {
                &__image {
                    width: 256px;
                    height: 214px;
                }

                &__info {
                    width: 256px;
                }

                &__description {
                    width: 212px;
                    margin-bottom: 10px;

                    font-size: 14px;
                }

                &__price {
                    margin-left: 185px;
                }
            }

            &:nth-child(2) {
                margin-right: 0;
            }

            &:nth-child(4) {
                margin-right: 0;
            }

            &:nth-child(6) {
                margin-right: 0;
            }

            &:nth-child(8) {
                margin-right: 0;
            }
        }
    }
}

@include desktop-small {
    .card {
        margin-right: 14px;
        margin-bottom: 32px;

        &__image {
            width: 214px;
            height: 290px;
        }

        &__heading {
            font-size: 18px;
        }

        &__info {
            width: 214px;
        }

        &__category {
            font-size: 14px;
        }

        &__description {
            width: 194px;
        }

        &__price {
            margin-left: 144px;
        }

        &--shop-page {
            margin-right: 24px;
            margin-bottom: 32px;

            .card {
                &__image {
                    width: 336px;
                    height: 272px;
                }

                &__info {
                    width: 336px;
                }

                &__category {
                    font-size: 16px;
                }

                &__description {
                    width: 300px;
                    margin-bottom: 14px;

                    font-size: 16px;
                }

                &__price {
                    margin-left: 266px;
                }
            }
        }
    }
}

@include desktop-medium {
    .card {
        margin-right: 15px;

        &__image {
            width: 270px;
            height: 371px;
        }

        &__info {
            width: 270px;
            padding: 24px 16px 24px 16px;
        }

        &__category {
            font-size: 16px;
        }

        &__heading {
            font-size: 18px;
        }

        &__description {
            width: 245px;
        }

        &__price {
            width: 72px;
            height: 32px;
            margin-left: 192px;
        }

        &--shop-page {
            margin-right: 24px;

            .card {
                &__image {
                    width: 274px;
                    height: 248px;
                }

                &__info {
                    width: 274px;
                }

                &__description {
                    width: 245px;
                }

                &__price {
                    margin-left: 193px;
                }
            }

            &:nth-child(2) {
                margin-right: 24px;
            }

            &:nth-child(4) {
                margin-right: 24px;
            }

            &:nth-child(6) {
                margin-right: 24px;
            }

            &:nth-child(8) {
                margin-right: 24px;
            }

            &:nth-child(3) {
                margin-right: 0;
            }

            &:nth-child(6) {
                margin-right: 0;
            }

            &:nth-child(9) {
                margin-right: 0;
            }
        }
    }
}

@include desktop-large {
    .card {
        margin-right: 24px;

        &__image {
            width: 307px;
            height: 391px;
        }

        &__info {
            width: 307px;
        }

        &__category {
            font-size: 18px;
        }

        &__heading {
            font-size: 20px;
        }

        &__description {
            width: 285px;
            margin-bottom: 12px;

            font-size: 18px;
        }

        &__category {
            width: 80px;
            height: 40px;

            font-size: 18px;
        }

        &__price {
            margin-left: 219px;
        }

        &--shop-page {
            margin-right: 18px;
            .card {
                &__image {
                    width: 247px;
                    height: 252px;
                }

                &__info {
                    width: 247px;
                }

                &__description {
                    width: 219px;
                }

                &__price {
                    margin-left: 165px;
                }
            }

            &:nth-child(4) {
                margin-right: 0;
            }

            &:nth-child(8) {
                margin-right: 0;
            }
            &:nth-child(2) {
                margin-right: 18px;
            }

            &:nth-child(3) {
                margin-right: 18px;
            }

            &:nth-child(6) {
                margin-right: 18px;
            }

            &:nth-child(9) {
                margin-right: 18px;
            }
        }
    }
}

@include desktop-extra-large {
    .card {
        width: 357px;
        margin-right: 24px;

        &__image-container {
            width: 357px;
        }

        &__image {
            width: 357px;
            height: 468px;
        }

        &__info {
            width: 357px;
        }

        &__heading {
            font-size: 23px;
        }

        &__description {
            width: 300px;
            margin-bottom: 16px;
        }

        &__price {
            width: 77px;
            height: 36px;
            margin-left: 271px;

            font-size: 18px;
        }

        &--shop-page {
            margin-right: 20px;
            width: 296px;

            .card {
                &__image-container {
                    width: 296px;
                }

                &__image {
                    width: 296px;
                    height: 276px;
                }

                &__heading {
                    font-size: 20px;
                }

                &__info {
                    width: 296px;
                }

                &__description {
                    width: 270px;
                }

                &__price {
                    margin-left: 210px;
                }
            }

            &:nth-child(2) {
                margin-right: 20px;
            }

            &:nth-child(3) {
                margin-right: 20px;
            }

            &:nth-child(6) {
                margin-right: 20px;
            }

            &:nth-child(9) {
                margin-right: 20px;
            }
        }
    }
}
