.footer {
    width: 100%;
    height: auto;

    padding: 32px 157px 40px 157px;
    margin-bottom: 12px;

    background-color: #000000;

    &__navigation-columns {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__navigation-column {
        li {
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.29;
            letter-spacing: 0.14px;

            cursor: pointer;

            color: #ffffff95;

            list-style: none;

            margin-bottom: 12px;

            &:hover {
                color: #ffffff;
            }
        }

        p {
            width: 259px;
            color: #ffffff95;
            
            font-family: Lato;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: 0.12px;

            margin-bottom: 24px;
        }
    }

    &__subscribe-form {
        display: flex;
        margin-bottom: 24px;
    }

    &__subscribe-form-enter-email {

        width: 183px;
        height: 24px;

        font-family: 'Lato', sans-serif;
        font-size: 12px;
        font-weight: 300;

        color: #ffffff95;

        padding-bottom: 6px;
        padding-right: 6px;
        border-bottom: 1px solid #ffffff;

        overflow: hidden;
        white-space: nowrap;

        span {
            outline: none;
        }
    }

    &__subscribe-form-button {
        font-family: Lato;
        font-size: 10px;
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: 0.1px;
        transition: .3s;

        background-color: #ffffff;

        width: 75px;
        height: 24px;
        
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: #333333;

            text-transform: uppercase;
            text-decoration: none;
        }

        &:hover {
            background-color: #ffffff90;

        }
    }

    &__social-icons {
        img {
            margin-right: 10px;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }
        }

        img:hover  {
            transform: scale(1.1);
        }
    }
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 157px 14px 157px;

    &__information {
        width: 585px;
        display: flex;
        justify-content: space-between;

        p {
            opacity: 0.64;
            font-family: Lato;
            font-size: 12px;
            font-weight: normal;
            line-height: 1.25;
            letter-spacing: 0.12px;
            text-align: left;
            color: #333333;
        }
    }

    &__payment-systems {
        img {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

}