.hero-area {
  height: 100vh;
  width: 100%;
  margin-bottom: 80px;

  overflow: auto;

  background-image: url(images/background-img-small.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;

  &__text-container {
    width: 300px;
    height: 500px;
    padding: 30px 0 25px 0;

    display: flex;
    justify-content: center;

    backdrop-filter: blur(3px);
    background-color: #00000050;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__sub-title {
    margin-bottom: 16px;

    font-family: "Lora", serif;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff90;
  }

  &__title {
    margin-bottom: 15px;

    font-family: "Lora", serif;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__description {
    width: 250px;
    margin-bottom: 32px;

    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
}

.lookbook {
  width: 300px;
  margin: 0 auto 80px auto;

  display: block;

  &__image {
    width: 300px;
  }

  &__section-title {
    font-size: 18px !important;
  }

  &__container-with-title {
    position: relative;
    align-content: center;

    .section-title {
      margin: 43px 0 40px 0;

      &--vertical {
        position: absolute;
        top: 33%;
        right: -48%;
      }
    }
  }
}

.shop-categories {
  width: 300px;
  margin: 0 auto 80px auto;

  &__categories-container {
    display: block;
  }

  &__category {
    width: 300px;
    height: 210px;
    margin-bottom: 16px;
    overflow: auto;

    background-image: url(images/clothes-min.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:nth-child(2) {
      background-image: url(images/shoes.png);
    }

    &:last-child {
      background-image: url(images/accessories-min.png);
    }
  }
}

.top-picks {
  width: 300px;
  margin: 0 auto 80px auto;

  &__products-container {
    display: flex;
  }

  .button {
    margin-top: 24px;
  }
}

.blog {
  width: 300px;
  margin: 0 auto 80px auto;

  &__articles-container {
    display: block;
  }

  &__articles-main-image {
    width: 300px;
    height: 250px;

    background-image: url(images/article-main-image-min.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__all-articles {
    width: 300px;

    background-color: #ffffff;
  }

  &__main-article {
    padding: 24px 16px 0 16px;
  }

  &__main-article-date-and-author-container {
    margin-bottom: 24px;

    display: flex;
    justify-content: space-between;
  }

  &__main-article-date,
  &__main-article-author,
  &__main-article-minutes-to-read {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 0.14px;
    font-weight: 300;
    color: #33333350;
  }

  &__main-article-title {
    margin-bottom: 18px;

    font-family: "Lora", serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #333333;
  }

  &__main-article-text-preview {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.16px;
    color: #333333;

    &:first-of-type {
      margin-bottom: 16px;
    }

    &:last-of-type {
      margin-bottom: 24px;
    }
  }

  &__main-article-read-more {
    margin-bottom: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__main-article-read-more-link {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;

    text-decoration: none;
    text-transform: uppercase;
    color: #333333;

    display: flex;
    align-items: center;

    span {
      margin-right: 16px;
    }
  }

  &__articles-preview {
    display: block;
  }

  &__article-preview {
    width: 300px;
    height: 301px;
    margin-bottom: 16px;
    overflow: auto;

    background-image: url(images/article-preview-1-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    &:last-child {
      margin-bottom: 0;
      background-image: url(images/article-preview-2.svg);
    }
  }
}

@include mobile-large {
  .lookbook {
    width: 390px;

    &__image {
      width: 390px;
    }

    &__section-title {
      font-size: 20px !important;
    }

    &__container-with-title {
      .section-title {
        &--vertical {
          top: 34%;
          right: -37%;
        }
      }
    }
  }
  .shop-categories {
    width: 390px;

    &__category {
      width: 390px;
      height: 260px;
    }
  }

  .top-picks {
    width: 390px;
  }

  .blog {
    width: 390px;

    &__articles-main-image {
      width: 390px;
      height: 300px;
    }

    &__all-articles {
      width: 390px;
    }

    &__article-preview {
      width: 390px;
      height: 301px;
    }
  }
}

@include tablet-small {
  .hero-area {
    background-image: url(images/background-img-small.png);

    &__sub-title {
      font-size: 20px;
    }

    &__title {
      font-size: 28px;
    }

    &__text-container {
      width: 400px;
      height: 500px;
      padding: 24px 0 20px 0;
    }

    &__description {
      width: 340px;
    }
  }

  .lookbook {
    width: 580px;

    &__image {
      width: 580px;
    }

    &__section-title {
      font-size: 29px !important;
    }

    &__container-with-title {
      .section-title {
        &--vertical {
          top: 34%;
          right: -36%;
        }
      }
    }
  }
  .shop-categories {
    width: 580px;

    &__category {
      width: 580px;
      height: 346px;
    }
  }

  .top-picks {
    width: 580px;
  }

  .blog {
    width: 580px;

    &__articles-main-image {
      width: 580px;
      height: 300px;
    }

    &__all-articles {
      width: 580px;
    }

    &__articles-preview {
      display: flex;
      justify-content: space-between;
    }

    &__article-preview {
      width: 283px;
      height: 301px;
    }
  }
}

@include tablet-large {
  .hero-area {
    margin-bottom: 100px;
    background-image: url(images/background-img-min.png);
    background-position: top;

    &__text-container {
      width: 650px;
      height: 290px;
      padding-top: 32px;
      padding-bottom: 20px;
    }

    &__sub-title {
      font-size: 16px;
    }

    &__description {
      width: 600px;
      height: 51px;
      margin-bottom: 16px;
      font-size: 14px;
    }
  }

  .lookbook {
    width: 720px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &__section-title {
      font-size: 22px !important;
    }

    &__image {
      width: 350px;
    }

    &__container-with-title {
      .section-title {
        margin-top: 43px;
        margin-bottom: 40px;

        &--vertical {
          top: 37%;
          right: -50%;
        }
      }
    }
  }

  .shop-categories {
    width: 720px;
    margin: 0 auto 80px auto;

    &__categories-container {
      display: flex;
      justify-content: space-between;
    }

    &__category {
      width: 233px;
      height: 176px;
      margin-bottom: 0;
    }
  }

  .top-picks {
    width: 720px;
  }

  .blog {
    width: 720px;

    &__articles-main-image {
      width: 350px;
      height: 500px;
      background-position: top;
    }

    &__articles-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__all-articles {
      width: 360px;
      height: 500px;
    }

    &__main-article {
      padding: 16px 16px 0 16px;
    }

    &__main-article-date,
    &__main-article-author,
    &__main-article-minutes-to-read {
      font-size: 14px;
    }

    &__main-article-title {
      font-size: 18px;
      margin-bottom: 18px;
    }

    &__main-article-text-preview {
      font-size: 14px;
    }

    &__main-article-read-more {
      margin-bottom: 16px;
    }

    &__main-article-read-more-link {
      font-size: 12px;
    }

    &__article-preview {
      width: 175px;
      height: 182px;
      background-position: top;
    }
  }
}

@include desktop-small {
  .hero-area {
    &__text-container {
      width: 700px;
      height: 280px;

      padding-top: 30px;
      padding-bottom: 25px;
    }

    &__sub-title {
      font-size: 18px;
    }

    &__title {
      font-size: 32px;
    }

    &__description {
      width: 717px;
      margin-bottom: 30px;
    }
  }

  .lookbook {
    width: 900px;
    margin: 0 auto 100px auto;

    &__section-title {
      font-size: 26px !important;
    }

    &__image {
      width: 425px;
    }

    &__container-with-title {
      .section-title {
        &--vertical {
          right: -48%;
        }
      }
    }
  }

  .shop-categories {
    width: 900px;
    margin: 0 auto 100px auto;

    &__category {
      width: 290px;
      height: 210px;
    }
  }

  .top-picks {
    margin: 0 auto 100px auto;
    width: 900px;

    .button {
      margin-top: 40px;
    }
  }

  .blog {
    width: 900px;
    margin: 0 auto 100px auto;

    &__articles-main-image {
      width: 442px;
      height: 530px;
    }

    &__all-articles {
      width: 442px;
      height: 530px;
    }

    &__main-article-read-more {
      margin-bottom: 26px;
    }

    &__article-preview {
      width: 214px;
      height: 224px;
    }
  }
}

@include desktop-medium {
  .hero-area {
    margin-bottom: 120px;

    &__text-container {
      width: 908px;
      height: 329px;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-top: 40px;
      padding-bottom: 35px;
    }

    &__sub-title {
      font-size: 24px;
      margin-bottom: 16px;
    }

    &__title {
      font-size: 40px;
      margin-bottom: 15px;
    }

    &__description {
      width: 717px;
      height: 51px;
      font-size: 16px;
      margin-bottom: 30px;
    }
  }

  .lookbook {
    width: 1126px;
    margin: 0 auto 120px auto;

    &__section-title {
      font-size: 32px !important;
    }

    &__image {
      width: 546px;
    }

    &__container-with-button {
      margin-right: 35px;
    }

    &__container-with-title {
      .section-title {
        margin-top: 43px;
        margin-bottom: 40px;

        &--vertical {
          top: 37%;
          right: -45%;
        }
      }
    }
  }

  .shop-categories {
    width: 1126px;
    margin: 0 auto 120px auto;

    &__category {
      width: 364px;
      height: 256px;
    }
  }

  .top-picks {
    margin: 0 auto 120px auto;
    width: 1126px;
  }

  .blog {
    width: 1126px;
    margin: 0 auto 120px auto;

    &__articles-main-image {
      width: 555px;
      height: 635px;
    }

    &__all-articles {
      width: 551px;
      height: 635px;
    }

    &__main-article {
      padding: 24px 16px 0 16px;
    }

    &__main-article-date,
    &__main-article-author,
    &__main-article-minutes-to-read {
      font-size: 14px;
    }

    &__main-article-title {
      font-size: 20px;
    }

    &__main-article-text-preview {
      font-size: 16px;
    }

    &__main-article-read-more {
      margin-bottom: 32px;
    }

    &__main-article-read-more-link {
      font-size: 16px;
    }

    &__main-article-date,
    &__main-article-author,
    &__main-article-minutes-to-read {
      font-size: 16px;
    }

    &__main-article-title {
      font-size: 23px;
    }

    &__article-preview {
      width: 266px;
      height: 311px;
    }
  }
}

@include desktop-large {
  .hero-area {
    &__text-container {
      width: 1126px;
      height: 400px;
      top: 50%;
      padding-top: 60px;
    }

    &__sub-title {
      font-size: 28px;
      margin-bottom: 16px;
    }

    &__title {
      font-size: 48px;
      margin-bottom: 16px;
    }

    &__description {
      font-size: 21px;
      margin-bottom: 48px;
    }
  }

  .lookbook {
    width: 1300px;
    &__section-title {
      font-size: 36px !important;
    }

    &__image {
      width: 622px;
    }
  }

  .shop-categories {
    width: 1300px;

    &__category {
      background-image: url(images/clothes-min.png);
      background-size: cover;
      width: 419px;
      height: 284px;
    }

    &__button-blurred {
      margin: 0 auto;
    }
  }

  .top-picks {
    width: 1300px;
  }

  .blog {
    width: 1300px;

    &__articles-main-image {
      width: 640px;
      height: 700px;

      background-size: cover;
      background-repeat: no-repeat;
    }

    &__all-articles {
      width: 640px;
      height: 700px;
    }

    &__main-article-date {
      span {
        font-size: 16px;
      }
    }

    &__main-article-title {
      font-size: 24px;
      margin-bottom: 18px;
    }

    p:first-of-type {
      font-size: 18px;
    }

    p:last-of-type {
      font-size: 18px;
    }

    &__main-article-read-more {
      margin-bottom: 49px;

      span:last-child {
        font-size: 16px;
      }
    }

    &__main-article-read-more-link {
      font-size: 18px;
    }

    &__article-preview {
      width: 309px;
      height: 366px;

      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@include desktop-extra-large {
  .hero-area {
    &__text-container {
      width: 1126px;
      height: 400px;
      top: 50%;
      padding-top: 60px;
    }

    &__sub-title {
      font-size: 28px;
      margin-bottom: 16px;
    }

    &__title {
      font-size: 48px;
      margin-bottom: 16px;
    }

    &__description {
      font-size: 21px;
      margin-bottom: 48px;
    }
  }

  .lookbook {
    width: 1500px;
    &__section-title {
      font-size: 40px !important;
    }

    &__image {
      width: 711px;
    }
  }

  .shop-categories {
    margin: 0 auto 120px auto;
    width: 1500px;

    &__category {
      width: 475px;
      height: 310px;
    }
  }

  .top-picks {
    width: 1500px;
  }

  .blog {
    width: 1500px;

    &__articles-main-image {
      width: 688px;
      height: 726px;
    }

    &__all-articles {
      width: 774px;
      height: 726px;
    }

    &__main-article-date,
    &__main-article-author,
    &__main-article-minutes-to-read {
      font-size: 18px;
    }

    &__main-article-title {
      font-size: 28px;
    }

    &__article-preview {
      width: 373px;
      height: 385px;
    }
  }
}
