.hero-area {
  height: 100vh;
  width: 100%;

  background-image: url(images/background-img-min.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin-bottom: 120px;

  &__background-image {
    width: 100%;
    height: auto;
    z-index: -1;
  }

  &__logo {
    height: 72px;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 17px;
    user-select: none;
  }

  &__icons {
    display: flex;
    align-items: center;

    position: absolute;
    top: 37px;
    right: 157px;
  }

  &__icon {
    &:link,
    &:visited {
      margin-right: 25px;
      transition: scale 0.3s;

      &:last-of-type {
        margin-right: 12px;
      }
    }

    &:hover,
    &:active {
      transform: scale(0.9);
    }
  }

  .add-burger-menu {
    &__container {
      width: 300px;
      height: 100vh;
      background-color: blue($color: #000000);
    }
  }

  &__burger-menu {
    position: absolute;
    top: 28px;
    left: 157px;
    cursor: pointer;

    path {
      transition: all 0.3s;
    }

    .hero-area__burger-menu-middle-line {
      transition: all 0.3s;
    }

    &:hover {
      .hero-area__burger-menu-middle-line {
        transform: translate(539px, 1100px);
      }

      path {
        &:first-of-type,
        &:last-of-type {
          transform: translate(525px, 1100px);
        }
      }
    }
  }

  &__cart-amount {
    color: #ffffff;
    font-family: "Lora", serif;
  }

  &__text-container {
    width: 908px;
    height: 329px;
    backdrop-filter: blur(3px);
    background-color: #00000050;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 40px;
    padding-bottom: 35px;
  }

  &__sub-title {
    font-family: "Lora", serif;
    font-size: 24px;
    font-weight: normal;
    color: #ffffff90;
    text-transform: uppercase;

    margin-bottom: 16px;
  }

  &__title {
    font-family: "Lora", serif;
    font-size: 40px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;

    margin-bottom: 15px;
  }

  &__description {
    width: 717px;
    height: 51px;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    margin-bottom: 30px;
  }
}

.lookbook {
  margin: 0 157px 120px 157px;
  display: flex;
  align-items: flex-start;
  position: relative;

  &__container-with-button {
    margin-right: 35px;
  }

  &__container-with-title {
    .section-title {
      margin-top: 43px;
      margin-bottom: 40px;

      &--vertical {
        position: absolute;
        white-space: nowrap;
        top: 240px;
        right: -245px;
      }
    }
  }
}

.shop-categories {
  margin: 0 157px 120px 157px;

  &__section-title {
    margin-bottom: 32px;
  }

  &__categories-container {
    display: flex;
  }

  &__category {
    background-image: url(images/clothes-min.png);
    background-size: cover;
    width: 364px;
    height: 256px;
    margin-right: 20px;

    &:nth-child(2) {
      background-image: url(images/shoes.png);
    }

    &:last-child {
      background-image: url(images/accessories-min.png);
      margin-right: 0;
    }
  }

  &__button-blurred {
    margin: 0 auto;
  }
}

.top-picks {
  margin: 0 157px 120px 157px;

  &__section-title {
    margin-bottom: 32px;
  }

  &__products-container {
    display: flex;
  }

  &__product {
    margin-right: 15px;
    text-decoration: none;
    overflow: hidden;

    &:hover {
      .top-picks__product-image {
        transform: scale(1.05) translateY(-9px);
      }
    }

    &:nth-child(2) {
      .top-picks__product-image {
        background-image: url(images/product-2.svg);
      }
    }

    &:nth-child(3) {
      .top-picks__product-image {
        background-image: url(images/product-3.svg);
      }
    }

    &:last-child {
      margin-right: 0;

      .top-picks__product-image {
        background-image: url(images/product-4.svg);
      }
    }
  }

  &__product-image {
    width: 270px;
    height: 371px;
    background-image: url(images/product-1.svg);
    transition: transform 0.3s;
  }

  &__product-heading {
    margin-top: 6px;
    margin-bottom: 12px;
  }

  &__product-description {
    width: 270px;
    height: auto;
    padding: 24px 16px 24px 16px;

    background-color: #ffffff;

    span:first-of-type {
      font-family: "Lato", sans-serif;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 0.14px;

      color: #33333350;
    }

    p {
      width: 245px;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      line-height: 1.19;
      letter-spacing: 0.16px;
      color: #33333390;

      margin-bottom: 5px;
    }

    span:last-of-type {
      width: 71px;
      height: 32px;

      background-color: #333333;

      display: flex;
      align-items: center;
      justify-content: center;

      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 500;

      color: #ffffff;

      margin-left: 188px;
    }
  }

  .button {
    margin-top: 40px;
  }
}

.blog {
  margin: 0 157px 120px 157px;

  &__section-title {
    margin-bottom: 32px;
  }

  &__articles-container {
    display: flex;
    align-items: center;
  }

  &__articles-main-image {
    width: 555px;
    height: 635px;

    margin-right: 20px;

    background-image: url(images/article-main-image-min.png);
  }

  &__all-articles {
    width: 551px;
    height: 635px;

    background-color: #ffffff;
  }

  &__main-article {
    padding: 24px 16px 0 16px;
  }

  &__main-article-date {
    display: flex;
    justify-content: space-between;

    margin-bottom: 24px;

    span {
      font-family: "Lato", sans-serif;
      font-size: 14px;
      letter-spacing: 0.14px;
      font-weight: 300;

      color: #33333350;
    }
  }

  &__main-article-title {
    font-family: Lora;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;

    text-transform: uppercase;

    color: #333333;

    margin-bottom: 18px;
  }

  p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.16px;
    color: #333333;
  }

  p:first-of-type {
    margin-bottom: 16px;
  }

  p:last-of-type {
    margin-bottom: 24px;
  }

  &__main-article-read-more {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 49px;

    span:last-child {
      font-family: Lato;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.21;
      letter-spacing: 0.14px;

      color: #33333350;
    }
  }

  &__main-article-read-more-link {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 300;

    text-decoration: none;
    text-transform: uppercase;
    color: #333333;

    display: flex;
    align-items: center;

    span {
      margin-right: 16px;
    }
  }

  &__articles-preview {
    display: flex;
  }

  &__article-preview {
    width: 266px;
    height: 301px;

    background-image: url(images/article-preview-1-min.png);

    margin-right: 18px;

    &:last-child {
      background-image: url(images/article-preview-2.svg);
      margin-right: 0;
    }
  }
}
