.navigation {
    &__nav-container {
        width: 300px;
        margin: 16px auto;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        height: 40px;
        width: auto;
        user-select: none;
    }

    &__icons {
        display: none;
    }

    &__cart-amount {
        font-size: 14px;
        color: #ffffff;
        font-family: "Lora", serif;

        &--black {
            color: #333333;
        }
    }

    &__icon {
        &--img {
            height: 20px;
            margin-right: 21px;
        }

        transition: scale 0.3s;

        &:hover {
            transform: scale(0.9);
        }
    }

    &__burger-menu {
        height: 28px;
        cursor: pointer;

        //Hover animation
        path {
            transition: all 0.3s;
        }

        .hero-area__burger-menu-middle-line {
            transition: all 0.3s;
        }

        &:hover {
            .hero-area__burger-menu-middle-line {
                transform: translate(539px, 1100px);
            }

            path {
                &:first-of-type,
                &:last-of-type {
                    transform: translate(525px, 1100px);
                }
            }
        }
    }

    &--black {
        height: auto;
        margin-bottom: 16px;

        background-color: #ffffff;

        display: flex;
    }
}

@include mobile-large {
    .navigation {
        &__nav-container {
            width: 390px;
        }
    }
}

@include tablet-small {
    .navigation {
        &__nav-container {
            width: 580px;
            height: 56px;
            justify-content: unset;

            position: relative;
        }

        &__logo {
            height: 56px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        &__icons {
            display: flex;
            align-items: center;

            position: absolute;
            right: 0;
        }

        &__icon {
            &--img {
                margin-right: 12px;
                height: 18px;
            }
        }

        &__burger-menu {
            height: 24px;
        }

        &--black {
            height: 80px;
            margin-bottom: 24px;

            background-color: #ffffff;

            .navigation {
                &__nav-container {
                    width: 580px;
                }
            }
        }
    }
}

@include tablet-large {
    .navigation {
        &__nav-container {
            width: 720px;
            margin: 24px auto;
        }

        &__icon {
            &--img {
                margin-right: 21px;
                height: 20px;
            }
        }

        &__burger-menu {
            height: 28px;
        }

        &--black {
            height: 94px;

            .navigation {
                &__nav-container {
                    width: 720px;
                }
            }
        }
    }
}

@include desktop-small {
    .navigation {
        &__nav-container {
            width: 900px;
            height: 71px;
            margin-top: 16px;
        }

        &__cart-amount {
            font-size: 16px;
        }

        &__logo {
            height: 56px;
        }

        &--black {
            .navigation {
                &__nav-container {
                    width: 900px;
                }
            }
        }
    }
}

@include desktop-medium {
    .navigation {
        &__nav-container {
            width: 1126px;
        }

        &__logo {
            height: 71px;
        }

        &__cart-amount {
            font-size: 16px;
        }

        &__icon {
            &--img {
                height: 24px;
            }
        }

        &__burger-menu {
            height: 32px;
        }

        &--black {
            height: 104px;
            margin-bottom: 40px;

            .navigation {
                &__nav-container {
                    width: 1126px;
                }
            }
        }
    }
}

@include desktop-large {
    .navigation {
        &__nav-container {
            width: 1300px;
            margin: 24px auto;
        }

        &__logo {
            height: 74px;
        }

        &__burger-menu {
            height: 40px;
        }

        &__icon {
            &--img {
                height: 29px;
            }
        }

        &--black {
            height: 110px;

            .navigation {
                &__nav-container {
                    width: 1300px;
                    height: 74px;
                    margin: 16px auto;
                }
            }
        }
    }
}

@include desktop-extra-large {
    .navigation {
        &__nav-container {
            width: 1500px;
            margin: 26px auto;
        }

        &--black {
            .navigation {
                &__nav-container {
                    width: 1500px;
                }
            }
        }
    }
}
