.navigation {
    &--black {
        height: 69px;
        margin-bottom: 16px;

        background-color: #ffffff;

        display: flex;

        .navigation {
            &__logo {
                margin-top: -7px;
            }

            &__nav-container {
                margin: 16px auto 0 auto;
            }
        }
    }

    &__nav-container {
        width: 300px;
        margin: 32px auto 0 auto;

        position: relative;
        align-content: center;
    }

    &__logo {
        height: 44px;
        width: auto;
        margin-top: -10px;

        position: absolute;
        right: 0;

        user-select: none;
    }

    &__icons {
        display: none;
        align-items: center;

        position: absolute;
        top: 5px;
        right: 0;
    }

    &__cart-amount {
        font-size: 14px;
        color: #ffffff;
        font-family: "Lora", serif;

        &--black {
            color: #333333;
        }
    }

    &__icon {
        &--img {
            height: 20px;
            margin-right: 21px;
        }

        transition: scale 0.3s;

        &:hover {
            transform: scale(0.9);
        }
    }

    &__burger-menu {
        height: 28px;

        position: absolute;
        top: 0;
        left: 0;

        cursor: pointer;

        //Hover animation
        path {
            transition: all 0.3s;
        }

        .hero-area__burger-menu-middle-line {
            transition: all 0.3s;
        }

        &:hover {
            .hero-area__burger-menu-middle-line {
                transform: translate(539px, 1100px);
            }

            path {
                &:first-of-type,
                &:last-of-type {
                    transform: translate(525px, 1100px);
                }
            }
        }
    }
}

@include mobile-large {
    .navigation {
        &--black {
            .navigation {
                &__nav-container {
                    width: 390px;
                }
            }
        }

        &__nav-container {
            width: 390px;
        }
    }
}

@include tablet-small {
    .navigation {
        &--black {
            height: 80px;
            margin-bottom: 24px;

            background-color: #ffffff;

            .navigation {
                &__nav-container {
                    width: 580px;
                }
            }
        }

        &__nav-container {
            width: 580px;
        }

        &__logo {
            height: 56px;

            left: 50%;
            transform: translateX(-50%);
        }

        &__icons {
            display: flex;
        }

        &__icon {
            &--img {
                margin-right: 12px;
                height: 18px;
            }
        }

        &__burger-menu {
            height: 24px;
            top: 0;
            left: 0;
        }
    }
}

@include tablet-large {
    .navigation {
        &--black {
            .navigation {
                &__nav-container {
                    width: 720px;
                }
            }
        }

        &__nav-container {
            width: 720px;
        }

        &__icon {
            &--img {
                margin-right: 21px;
                height: 20px;
            }
        }

        &__burger-menu {
            height: 28px;
        }
    }
}

@include desktop-small {
    .navigation {
        &--black {
            .navigation {
                &__nav-container {
                    width: 900px;
                }
            }
        }

        &__nav-container {
            width: 900px;
        }

        &__cart-amount {
            font-size: 16px;
        }
    }
}

@include desktop-medium {
    .navigation {
        &--black {
            margin-bottom: 40px;

            .navigation {
                &__nav-container {
                    width: 1126px;
                }
            }
        }

        &__nav-container {
            width: 1126px;
        }

        &__cart-amount {
            font-size: 16px;
        }

        &__icon {
            &--img {
                height: 24px;
            }
        }

        &__burger-menu {
            height: 32px;
        }
    }
}

@include desktop-large {
    .navigation {
        &--black {
            .navigation {
                &__nav-container {
                    width: 1300px;
                }
            }
        }

        &__nav-container {
            width: 1300px;
            margin-top: 40px;
        }

        &__logo {
            height: 68px;
            margin-top: 18px;
        }

        &__burger-menu {
            height: 40px;
        }

        &__icon {
            &--img {
                height: 29px;
            }
        }
    }
}

@include desktop-extra-large {
    .navigation {
        &__nav-container {
            width: 1500px;
        }

        &__logo {
            height: 72px;
            margin-top: 15px;
        }
    }
}
