.product-description {
  width: 300px;
  display: block;
  margin: 0 auto 80px auto;

  &__arrow {
    margin-bottom: 24px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(0.9);
    }

    &--left {
      margin-right: 10px;
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
  }

  &__image-main {
    width: 300px;
    height: 364px;
    margin-bottom: 12px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__more-images {
    margin-bottom: 32px;

    display: flex;
    justify-content: space-between;
  }

  &__more-images-item {
    width: 95px;
    height: 110px;

    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    &--selected {
      display: none;
    }
  }

  &__section-title {
    margin: 32px 0 14px 0;
  }

  &__element {
    margin-bottom: 18px;

    display: flex;
    align-items: center;

    &--column {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__category {
    margin-right: 12px;

    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;

    line-height: 1.19;
    letter-spacing: 0.32px;

    color: #33333390;
  }

  &__meaning {
    margin-top: 12px;

    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;

    line-height: 1.19;
    letter-spacing: 0.32px;

    color: #333333;

    &--code {
      margin-top: 0;
    }
  }

  &__colors {
    margin-top: 12px;

    display: flex;
  }

  &__color {
    width: 32px;
    height: 32px;
    margin-right: 8px;

    background-color: #dadfe4;
    border-radius: 50%;

    transition: all 0.3s;
    cursor: pointer;

    &:nth-child(2) {
      background-color: #073d5c;
    }

    &:nth-child(3) {
      background-color: #2e2e2e;
    }
  }

  &__color:hover:not(.product-description__color--active) {
    transform: scale(0.9);
  }
  &__color--active {
    transform: scale(1.1);
  }

  &__sizes {
    margin-top: 12px;
    margin-bottom: 16px;

    display: flex;
  }

  &__size {
    width: 42px;
    height: 29px;
    margin-right: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ffffff;

    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: normal;

    line-height: 1.21;
    letter-spacing: 0.28px;

    color: #333333;

    transition: all 0.3s;

    cursor: pointer;

    &:hover:not(.product-description__size--active) {
      transform: scale(0.9);
    }

    &--active {
      background-color: #333;

      color: #ffffff;
    }
  }

  &__view-sizeguide {
    margin-bottom: 32px;

    display: flex;
    align-items: center;

    img {
      margin-right: 12px;
    }

    a {
      font-family: "Lato", sans-serif;
      font-size: 10px;
      font-weight: 300;

      line-height: 1.2;
      letter-spacing: 0.2px;

      color: #33333365;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: #333333;
      }
    }
  }

  &__divider {
    width: 136px;
    height: 0.5px;

    margin-bottom: 32px;

    border: dashed 0.5px #70707024;
  }

  &__text-description {
    margin-bottom: 40px;

    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;

    line-height: 1.5;
    letter-spacing: 0.16px;

    color: #333333;

    &:first-of-type {
      margin-bottom: 24px;
    }
  }

  &__buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: normal;

    line-height: 1.2;
    letter-spacing: 0.8px;

    color: #333333;
  }

  &__button {
    margin: 0;
  }
}

.additional-products {
  width: 300px;
  margin: 0 auto 80px auto;
  &__products-container {
    display: flex;
  }
}

@include mobile-large {
  .product-description {
    width: 390px;

    &__image-main {
      width: 390px;
      height: 400px;
    }

    &__more-images-item {
      width: 124px;
      height: 144px;
    }
  }

  .additional-products {
    width: 390px;
  }
}

@include tablet-small {
  .product-description {
    width: 580px;

    &__image-main {
      width: 580px;
      height: 400px;
    }

    &__more-images-item {
      width: 182px;
      height: 183px;
    }
  }

  .additional-products {
    width: 580px;
  }
}

@include tablet-large {
  .product-description {
    display: flex;
    width: 720px;

    &__images {
      margin-right: 32px;
    }

    &__image-main {
      width: 348px;
      height: 440px;
    }

    &__more-images-item {
      width: 110px;
      height: 132px;
    }

    &__divider {
      margin-bottom: 24px;
    }

    &__text-description {
      margin-bottom: 24px;
      font-size: 14px;

      &:first-of-type {
        margin-bottom: 16px;
      }
    }

    &__price {
      font-family: "Lato", sans-serif;
      font-size: 32px;
    }

    &__arrow {
      margin-bottom: 0;
    }
  }

  .additional-products {
    width: 720px;
    margin: 0 auto 80px auto;
  }
}

@include desktop-small {
  .product-description {
    width: 900px;
    margin: 0 auto 100px auto;

    &__image-main {
      width: 470px;
      height: 639px;
      margin-bottom: 24px;
    }

    &__more-images-item {
      width: 149px;
      height: 180px;
    }

    &__divider {
      margin-bottom: 32px;
    }

    &__text-description {
      margin-bottom: 40px;
      font-size: 16px;
      font-weight: 300;

      &:first-of-type {
        margin-bottom: 24px;
      }
    }

    &__price {
      font-family: "Lato", sans-serif;
      font-size: 40px;
    }
  }

  .additional-products {
    width: 900px;
    margin: 0 auto 100px auto;
  }
}

@include desktop-medium {
  .product-description {
    width: 1126px;
    margin: 0 auto 120px auto;

    &__images {
      margin-right: 49px;
    }

    &__image-main {
      width: 545px;
      height: 693px;
    }

    &__more-images-item {
      width: 169px;
      height: 183px;
    }
  }

  .additional-products {
    width: 1126px;
    margin: 0 auto 120px auto;
  }
}

@include desktop-large {
  .product-description {
    width: 1300px;
    margin: 0 auto 120px auto;

    &__images {
      margin-right: 56px;
    }

    &__image-main {
      width: 600px;
      height: 706px;
    }

    &__more-images-item {
      width: 190px;
      height: 200px;
    }
  }

  .additional-products {
    width: 1300px;
  }
}

@include desktop-extra-large {
  .product-description {
    width: 1500px;
    margin: 0 auto 120px auto;

    &__images {
      margin-right: 56px;
    }

    &__image-main {
      width: 600px;
    }

    &__more-images-item {
      width: 190px;
      height: 200px;
    }

    &__text-description {
      font-size: 18px;
    }
  }

  .additional-products {
    width: 1500px;
  }
}
